<h4>Clients</h4>
<ul>
  {{#each model as |client|}}
  <li>
    {{#link-to "advisors.advisor.clients.client" client.id}}
      {{client.name}} <button {{action "save" client}}>Save</button>
    {{/link-to}}
  </li>
  {{/each}}
</ul>
